<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lz.example.android_notification_sample">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BasicNotificationActivity" />
        <activity android:name=".NotificationActionActivity" />
        <activity android:name=".NotificationWithPendingIntent" />
        <activity android:name=".PendingIntentFlagActivity" />
        <activity android:name=".CancelNotificationActivity" />
        <activity android:name=".NotificationEffectActivity" />
        <activity android:name=".NotificationStyleActivity" />
        <activity android:name=".OtherNotificationActivity"/>
        <receiver android:name=".PendingBroadcastReceiver">
            <intent-filter>
                <action android:name="com.lz.example.android_notification_sample.send_broadcast_action" />
            </intent-filter>
        </receiver>

        <service android:name=".PendingService" />
        <service android:name=".ProcessService" />
    </application>

</manifest>